<launch>

    <node pkg="nodelet" type="nodelet" name="depth2cloud" args="standalone rtabmap_util/point_cloud_xyz" output="screen">

			<!-- 4 subs - supplied by
			depth/image (sensor_msgs/Image) - ?
			depth/camera_info (sensor_msgs/CameraInfo) - ?
			"Construct a point cloud from a depth or disparity image."

			disparity/image (stereo_msgs/DisparityImage) - stereo_proc
			disparity/camera_info (sensor_msgs/CameraInfo) - stereo_cam
			-->
			<remap from="depth/image" to="/d435/depth/image_rect_raw"/>
			<remap from="depth/camera_info" to="/d435/depth/camera_info"/>

			<!-- 1 Pub:
			cloud (sensor_msgs/PointCloud2)
			-->
			<remap from="cloud" to="/cloudXYZ"/>

			<!-- 8 Params -->
			<!--<param name="queue_size" type="int" value="10"/>def=10-->
			<param name="approx_sync" type="bool" value="true"/><!--def=true-->
			<param name="decimation" type="int" value="1"/><!--def=1(off)-->
			<param name="voxel_size" type="double" value="0.05"/><!--def=0.0(off)-->
			<!--<param name="min_depth" type="double" value="0.0"/>def=0.0-->
			<param name="max_depth" type="double" value="2.7"/><!--def=0.0(off)-->
			<param name="noise_filter_radius" type="double" value="0.1"/> <!--def=0.0(off)-->
			<param name="noise_filter_min_neighbors" type="int" value="5"/>
		</node>

</launch>