<launch>

    <include file="$(find vitulus_navi)/launch/vitulus_navi_outdoor.launch" pass_all_args="true">
    </include>
    <node name="node_mower_smach" pkg="vitulus_navi" type="mower_unit_smach" respawn="true" respawn_delay="1" output="screen" />

<!--     <include file="$(find vitulus_navi)/launch/vitulus_navi_indoor.launch">-->
<!--    </include>-->









<!--    -->
<!--    -->
<!--    -->
<!--    &lt;!&ndash;    <include file="$(find vitulus_navi)/launch/vitulus_ekf_indoor.launch">&ndash;&gt;-->
<!--&lt;!&ndash;    </include>&ndash;&gt;-->

<!--    <include file="$(find vitulus_navi)/launch/vitulus_ekf_outdoor.launch">-->
<!--    </include>-->

<!--    <include file="$(find vitulus_navi)/launch/navsat.launch">-->
<!--    </include>-->


<!--    <include file="$(find vitulus_navi)/launch/pointcloud_to_laserscan.launch">-->
<!--        &lt;!&ndash; arg name="multi_robot_name" value="$(arg multi_robot_name)"/ &ndash;&gt;-->
<!--    </include>-->

<!--&lt;!&ndash;    <include file="$(find vitulus_slam)/launch/rtabmap.launch" pass_all_args="true">&ndash;&gt;-->
<!--&lt;!&ndash;    <include file="$(find vitulus_navi)/launch/vitulus_rtabmap_indoor.launch" pass_all_args="true">&ndash;&gt;-->
<!--    <include file="$(find vitulus_navi)/launch/vitulus_rtabmap_outdoor.launch" pass_all_args="true">-->
<!--&lt;!&ndash;    <include file="$(find vitulus_slam)/launch/vitulus_rtabmap4wd.launch" pass_all_args="true">&ndash;&gt;-->
<!--&lt;!&ndash;    <include file="$(find vitulus_slam)/launch/rtabmap_t265.launch" pass_all_args="true">&ndash;&gt;-->
<!--        &lt;!&ndash; arg name="multi_robot_name" value="$(arg multi_robot_name)"/ &ndash;&gt;-->
<!--    </include>-->

<!--    <include file="$(find vitulus_navi)/launch/obstacles.launch">-->
<!--        &lt;!&ndash; arg name="multi_robot_name" value="$(arg multi_robot_name)"/ &ndash;&gt;-->
<!--    </include>-->

<!--    <include file="$(find vitulus_navi)/launch/vitulus_navi.launch">-->
<!--    </include>-->



<!--&lt;!&ndash;    Proxy for interactive marker usage on web gui&ndash;&gt;-->
<!--    <node name="proxy" pkg="interactive_marker_proxy" type="proxy" args="topic_ns:=/interactive_marker target_frame:=/map"/>-->

<!--    &lt;!&ndash; node name="rviz" pkg="rviz" type="rviz" args=""/ &ndash;&gt;-->

</launch>