<launch>


  <!-- Run the map server -->
<!--  <arg name="map_file" default="$(find vitulus_navi)/config/maps/gridmap.yaml"/>-->
  <arg name="map_file" default="$(find vitulus_navi)/config/maps/Garden_09_2023.yaml"/>
<!--   <arg name="map_file" default="$(find vitulus_navi)/config/maps/map_show.yaml"/> -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" >
  </node>

  <!-- Run the map server -->
  <arg name="map_grid_file" default="$(find vitulus_navi)/config/maps/gridmap.yaml"/>
  <node name="map_grid_server" pkg="map_server" type="map_server" args="$(arg map_grid_file)" >
   <remap from="map" to="/map_grid"/>
  </node>

    <node pkg="tf" type="static_transform_publisher" name="basemap" args="0 0 0 0 0 0 /map /base_link 100"/>



</launch>