<launch>
  <rosparam command="delete" ns="traversability_estimation" />
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find vitulus_navigation)/config/rosconsole.conf"/>
  <node pkg="traversability_estimation" type="traversability_estimation_node" name="traversability_estimation" output="screen">
    <rosparam command="load" file="$(find vitulus_navi)/config/traversability/traversability_robot.yaml"/>
    <rosparam command="load" file="$(find vitulus_navi)/config/traversability/traversability_robot_footprint_param.yaml"/>
    <rosparam command="load" file="$(find vitulus_navi)/config/traversability/traversability_robot_filter_param.yaml"/>
  </node>

  <node pkg="grid_map_visualization" type="grid_map_visualization" name="traversability_map_visualization" output="screen">
	<rosparam command="load" file="$(find vitulus_navi)/config/traversability/visualization/traversability.yaml"/>
  </node>
</launch>
