<launch>
    <arg name="map_topic" />
<!--    <include file="$(find vitulus_gnss)/launch/vitulus_ardusimple_heading.launch"/>-->
<!--    <include file="$(find vitulus_gnss)/launch/vitulus_ardusimple_gnss.launch"/>-->

<!--    <include file="$(find vitulus_navi)/launch/ekf_outdoor_all.launch"/>-->

<!--    <include file="$(find vitulus_navi)/launch/ekf_base.launch"/>-->

<!--    <include file="$(find vitulus_navi)/launch/ekf_outdoor.launch"/>-->


    <include file="$(find vitulus_navi)/launch/pointcloud_to_laserscan.launch">
        <!-- arg name="multi_robot_name" value="$(arg multi_robot_name)"/ -->
    </include>

    <include file="$(find vitulus_navi)/launch/vitulus_navi_mbf.launch">
        <arg name="map_topic" value="$(arg map_topic)"/>
    </include>

    <!--    Proxy for interactive marker usage on web gui-->
    <node name="proxy" pkg="interactive_marker_proxy" type="proxy" args="topic_ns:=/interactive_marker target_frame:=/map"/>

</launch>