<launch>


    <arg name="camera1"              			default="t265"/>		<!-- Note: Replace with camera name -->
    <arg name="camera2"              			default="d435"/>	    <!-- Note: Replace with camera name -->
    <arg name="rtabmap_args"              			default=""/>
    <arg name="localization"              			default="false"/>
    <arg name="visual_odometry"    default="false"/>
    <arg name="rviz"            default="false"/>
    <arg name="rtabmapviz"            default="false"/>


    <!-- RTAB-Map's parameters -->
      <param name="/rtabmap/rtabmap/RGBD/NeighborLinkRefining" type="string" value="true"/>
      <param name="/rtabmap/rtabmap/RGBD/ProximityBySpace"     type="string" value="true"/>
      <param name="/rtabmap/rtabmap/RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
      <param name="/rtabmap/rtabmap/RGBD/AngularUpdate"        type="string" value="0.05"/>
      <param name="/rtabmap/rtabmap/RGBD/LinearUpdate"         type="string" value="0.05"/>
      <param name="/rtabmap/rtabmap/Optimizer/Slam2D"          type="string" value="true"/>
      <param name="/rtabmap/rtabmap/Reg/Force3DoF"             type="string" value="true"/>
      <param name="/rtabmap/rtabmap/Reg/Strategy"              type="string" value="1"/> <!-- [0=Vis, 1=Icp, 2=VisIcp] -->
      <param name="/rtabmap/rtabmap/Vis/MinInliers"            type="string" value="5"/>
      <param name="/rtabmap/rtabmap/Vis/InlierDistance"        type="string" value="0.1"/>
      <param name="/rtabmap/rtabmap/Kp/MaxDepth"               type="string" value="2.5"/>
      <param name="/rtabmap/rtabmap/Kp/DetectorStrategy" type="string" value="8"/>   <!--8 [0=SURF 1=SIFT 2=ORB 3=FAST/FREAK 4=FAST/BRIEF 5=GFTT/FREAK 6=GFTT/BRIEF 7=BRISK 8=GFTT/ORB 9=KAZE 10=ORB-OCTREE 11=SuperPoint 12=SURF/FREAK 13=GFTT/DAISY 14=SURF/DAISY 15=PyDetector] -->
      <param name="/rtabmap/rtabmap/Kp/NNStrategy" type="string" value="1"/>         <!-- kdTree -->
      <param name="/rtabmap/rtabmap/Vis/MaxDepth"              type="string" value="2.5"/>
      <param name="/rtabmap/rtabmap/Vis/EstimationType"        type="string" value="1"/>  <!--[Motion estimation approach: 0:3D->3D, 1:3D->2D (PnP), 2:2D->2D (Epipolar Geometry)]-->
      <param name="/rtabmap/rtabmap/Rtabmap/TimeThr"           type="string" value="700"/>
      <param name="/rtabmap/rtabmap/Rtabmap/DetectionRate"     type="string" value="2.0" />
      <param name="/rtabmap/rtabmap/Mem/RehearsalSimilarity"   type="string" value="0.45"/>
      <param name="/rtabmap/rtabmap/Grid/MaxObstacleHeight"    type="string" value="1.7" />
      <param name="/rtabmap/rtabmap/Grid/NoiseFilteringRadius" type="string" value="0.05"/>
      <param name="/rtabmap/rtabmap/Grid/NoiseFilteringMinNeighbors" type="string" value="5"/>
      <param name="/rtabmap/rtabmap/Grid/RangeMax"    type="string" value="2.5" />
      <param name="/rtabmap/rtabmap/Optimizer/Strategy" type="string" value="2"/> <!--[Graph optimization strategy: 0=TORO, 1=g2o, 2=GTSAM and 3=Ceres.]-->
      <param name="/rtabmap/rtabmap/Optimizer/Robust" type="bool" value="true"/> <!--[Robust graph optimization using Vertigo (only work for g2o and GTSAM optimization strategies). Not compatible with "RGBD/OptimizeMaxError" if enabled.]-->






<!--    From MatieuMate outdoor config-->
    <param name="/rtabmap/rtabmap/Rtabmap/TimeThr" type="string" value="700"/>
<!--    <param name="Rtabmap/DetectionRate" type="string" value="1"/>-->
<!--    -->
<!--    <param name="/rtabmap/rtabmap/Kp/MaxFeatures" type="string" value="200"/>-->
<!--    <param name="/rtabmap/rtabmap/Kp/RoiRatios" type="string" value="0.03 0.03 0.04 0.04"/>-->

<!--    <param name="/rtabmap/rtabmap/Kp/MaxDepth"               type="string" value="8"/>-->
<!--&lt;!&ndash;    &ndash;&gt;-->
<!--    <param name="/rtabmap/rtabmap/SURF/HessianThreshold" type="string" value="100"/>-->
<!--&lt;!&ndash;    &ndash;&gt;-->
<!--    <param name="/rtabmap/rtabmap/Vis/MinInliers" type="string" value="20"/>  &lt;!&ndash;Adjust to increase loacalization accuracy but less localizations&ndash;&gt;-->
<!--    <param name="/rtabmap/rtabmap/Vis/EstimationType" type="string" value="1"/> &lt;!&ndash; 3D->2D (PnP) &ndash;&gt;-->
<!--&lt;!&ndash;    &ndash;&gt;-->
<!--&lt;!&ndash;    <param name="LccReextract/Activated" type="string" value="true"/>&ndash;&gt;-->
<!--    <param name="/rtabmap/rtabmap/Vis/MaxFeatures" type="string" value="500"/>-->
<!--&lt;!&ndash;    <param name="LccReextract/MaxDepth" type="string" value="10"/> &ndash;&gt;-->



<!--    <param name="/rtabmap/rtabmap/Vis/MaxDepth"              type="string" value="8"/>-->
<!--    <param name="/rtabmap/rtabmap/Vis/MinDepth"              type="string" value="0.3"/>-->
<!--    <param name="/rtabmap/rtabmap/Vis/FeatureType"              type="string" value="8"/> &lt;!&ndash;8 "0=SURF 1=SIFT 2=ORB 3=FAST/FREAK 4=FAST/BRIEF 5=GFTT/FREAK 6=GFTT/BRIEF 7=BRISK 8=GFTT/ORB."&ndash;&gt;-->


<!--    <param name="/rtabmap/rtabmap/Vis/EstimationType"        type="string" value="1"/>  &lt;!&ndash;[Motion estimation approach: 0:3D->3D, 1:3D->2D (PnP), 2:2D->2D (Epipolar Geometry)]&ndash;&gt;-->

<!--&lt;!&ndash;    <param name="/rtabmap/rtabmap/Reg/Force3DoF"             type="string" value="false"/>&ndash;&gt;-->
<!--    <param name="/rtabmap/rtabmap/Reg/Force3DoF"             type="string" value="true"/>-->
<!--    <param name="/rtabmap/rtabmap/Reg/Strategy"              type="string" value="2"/>  &lt;!&ndash; [0=Vis, 1=Icp, 2=VisIcp] &ndash;&gt;-->

<!--    &lt;!&ndash; ICP parameters &ndash;&gt;-->
<!--    <param name="/rtabmap/rtabmap/Icp/VoxelSize"                 type="string" value="0.05"/>-->
<!--    <param name="/rtabmap/rtabmap/Icp/MaxCorrespondenceDistance" type="string" value="0.01"/>-->

<!--    &lt;!&ndash;param name="/rtabmap/rtabmap/Grid/MaxGroundHeight"    type="string" value="-0.35" /&ndash;&gt;-->

<!--    <param name="/rtabmap/rtabmap/Grid/MaxObstacleHeight"    type="string" value="0.45" />-->
<!--&lt;!&ndash;    <param name="/rtabmap/rtabmap/Grid/MaxObstacleHeight"    type="string" value="0.45" /> &ndash;&gt;-->
<!--    <param name="/rtabmap/rtabmap/Grid/NormalsSegmentation"    type="string" value="true" />-->
<!--    <param name="/rtabmap/rtabmap/Grid/MaxGroundAngle"    type="string" value="45" />-->
<!--    <param name="/rtabmap/rtabmap/Grid/MaxGroundHeight"    type="string" value="0.1" />-->
<!--    <param name="/rtabmap/rtabmap/Grid/FlatObstacleDetected"    type="string" value="true" />-->
<!--    <param name="/rtabmap/rtabmap/Grid/MinClusterSize"    type="string" value="15" />-->
<!--    <param name="/rtabmap/rtabmap/Grid/ClusterRadius"    type="string" value="0.3" />-->
<!--    <param name="/rtabmap/rtabmap/Grid/Sensor"                type="bool" value="true"/> &lt;!&ndash;From depth or from scan&ndash;&gt;-->


<!--    <param name="/rtabmap/rtabmap/RGBD/OptimizeFromGraphEnd"    type="string" value="false" />-->
<!--    <param name="/rtabmap/rtabmap/RGBD/LoopClosureReextractFeatures"    type="string" value="true" /> &lt;!&ndash; true better accuracy of the transformation computed?&ndash;&gt;-->

<!--    &lt;!&ndash;FROM old config&ndash;&gt;-->
<!--    <param name="/rtabmap/rtabmap/RGBD/NeighborLinkRefining" type="string" value="true"/>-->
<!--    <param name="/rtabmap/rtabmap/RGBD/ProximityBySpace"     type="string" value="true"/>-->
<!--    <param name="/rtabmap/rtabmap/RGBD/AngularUpdate"        type="string" value="0.01"/>-->
<!--    <param name="/rtabmap/rtabmap/RGBD/LinearUpdate"         type="string" value="0.01"/>-->
<!--&lt;!&ndash;    <param name="/rtabmap/rtabmap/RGBD/OptimizeMaxError"                type="double"      value="3.0"  />&ndash;&gt;-->
<!--    <param name="/rtabmap/rtabmap/RGBD/ProximityPathMaxNeighbors" type="string" value="10"/>-->
<!--    <param name="/rtabmap/rtabmap/Optimizer/Strategy" type="string" value="2"/> &lt;!&ndash;[Graph optimization strategy: 0=TORO, 1=g2o, 2=GTSAM and 3=Ceres.]&ndash;&gt;-->
<!--    <param name="/rtabmap/rtabmap/Optimizer/Robust" type="bool" value="true"/> &lt;!&ndash;[Robust graph optimization using Vertigo (only work for g2o and GTSAM optimization strategies). Not compatible with "RGBD/OptimizeMaxError" if enabled.]&ndash;&gt;-->

<!--    -->


    <group ns="rtabmap">
        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
          <remap from="rgb/image"        to="/$(arg camera2)/color/image_raw"/>
          <remap from="depth/image"      to="/$(arg camera2)/aligned_depth_to_color/image_raw"/>
          <remap from="rgb/camera_info"  to="/$(arg camera2)/color/camera_info"/>
          <remap from="rgbd_image"       to="rgbd_image"/>
            <!-- Should be true for not synchronized camera topics
               (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->

          <param name="approx_sync"       value="false"/>
        </node>

<!--        <node pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry" args=""  output="screen">-->
<!--            <param name="frame_id" type="str" value="base_link"/> &lt;!&ndash; The frame attached to the mobile base.&ndash;&gt;-->
<!--            <param name="odom_frame_id" type="str" value="t265_odom_frame"/> &lt;!&ndash; The odometry frame.&ndash;&gt;-->
<!--            <param name="publish_tf" type="bool" value="false"/> &lt;!&ndash; Publish TF from /odom to /base_link.&ndash;&gt;-->
<!--            <param name="publish_null_when_lost" type="bool" value="false"/> &lt;!&ndash;Odometry is published with null transform when lost.&ndash;&gt;-->
<!--            <param name="queue_size" type="int" value="50"/> &lt;!&ndash;Size of message queue for each synchronized topic.&ndash;&gt;-->
<!--            <param name="guess_frame_id" type="str" value="t265_odom_frame"/> &lt;!&ndash; Use this frame as guess to compute odometry, otherwise odometry guess is done from a constant motion model. tf published by this node will be the correction of actual odometry. If guess_frame_id is odom_combined, odom_frame_id is odom and frame_id is base_footprint, odom -> odom_combined is published by this node to have a tf tree like this: /odom -> /odom_combined -> /base_link.&ndash;&gt;-->
<!--            <param name="guess_min_translation" type="double" value="0.0"/> &lt;!&ndash; [m] When guess_frame_id is set, don't update odometry unless the guess moved at least as much as this value.&ndash;&gt;-->
<!--            <param name="guess_min_rotation" type="double" value="0.0"/> &lt;!&ndash; [rad] When guess_frame_id is set, don't update odometry unless the guess rotated at least as much as this value.&ndash;&gt;-->

<!--            <param name="Odom/Stratregy" type="int" value="0"/> &lt;!&ndash;  [0=Frame-to-Map (F2M) 1=Frame-to-Frame (F2F) 2=Fovis 3=viso2 4=DVO-SLAM 5=ORB_SLAM2 6=OKVIS 7=LOAM 8=MSCKF_VIO 9=VINS-Fusion 10=OpenVINS 11=FLOAM]&ndash;&gt;-->
<!--            <param name="Reg/Strategy"              type="int" value="2"/>  &lt;!&ndash; [0=Vis, 1=Icp, 2=VisIcp] &ndash;&gt;-->
<!--            <param name="subscribe_rgbd" type="bool" value="true"/> &lt;!&ndash; Subsribe to rgbd_image topic..&ndash;&gt;-->
<!--            <remap from="rgbd_image" to="rgbd_image"/>  &lt;!&ndash; RGB-D synchronized image, only when subscribe_rgbd is true.&ndash;&gt;-->
<!--        </node>-->

    <!--    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="&#45;&#45;delete_db_on_start">       -->
        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg rtabmap_args) --delete_db_on_start --Rtabmap/DetectionRate 2"> <!-- delete_db_on_start Rtabmap/DetectionRate 10-->
            <remap from="odom" to="/odometry/odom"/>
            <remap from="scan" to="/scan"/>
            <remap from="rgbd_image" to="rgbd_image"/>
            <param name="wait_for_transform_duration" type="double" value="1.0"/>
            <param name="publish_tf"  type="bool"   value="true"/>

<!--                <param name="odom_frame_id"           value="t265_odom_frame"/>-->
                <param name="frame_id"           value="base_link"/>
<!--                <param name="visual_odometry"    value="$(arg visual_odometry)"/>-->
    <!--            <arg name="odom_topic"         value="/$(arg camera1)/odom/sample"/>-->
                <param name="subscribe_depth" type="bool" value="false"/>
                <param name="subscribe_rgbd" type="bool" value="true"/>
                <param name="subscribe_rgb" type="bool" value="false"/>
                <param name="subscribe_scan" type="bool" value="true"/>

                <param name="queue_size"         value="100"/>
                <param name="visual_odometry"       value="$(arg visual_odometry)"/>

                <param name="odom_tf_angular_variance" value="0.0001"/> <!--graph is better optimized on loop closures If I got small odom drift-->
                <param name="odom_tf_linear_variance" value="0.0001"/> <!--graph is better optimized on loop closures If I got small odom drift-->

                <!-- Localization mode -->
                  <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
                  <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
                  <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>
        </node>
                  <!-- visualization with rtabmapviz -->
        <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="" output="screen">
            <param name="subscribe_depth"             type="bool" value="false"/>
            <param name="subscribe_rgbd"             type="bool" value="true"/>
            <param name="subscribe_scan"              type="bool" value="true"/>
            <param name="frame_id"                    type="string" value="base_link"/>
            <param name="wait_for_transform_duration" type="double" value="0.5"/>
            <param name="Grid/FromDepth"                type="bool" value="true"/>

            <remap from="scan"                  to="/scan"/>
            <remap from="odom"                  to="/odometry/odom"/>
            <remap from="rgb/image"             to="/$(arg camera2)/color/image_raw"/>
            <remap from="depth/image"           to="/$(arg camera2)/aligned_depth_to_color/image_raw"/>
            <remap from="rgb/camera_info"       to="/$(arg camera2)/color/camera_info"/>
            <remap from="rgbd_image"            to="rgbd_image"/>
        </node>

  </group>


    <!-- RVIZ node -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" />










<!--    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">-->
<!--        <arg name="rtabmap_args"       value="$(arg rtabmap_args) &#45;&#45;Rtabmap/DetectionRate 1"/> &lt;!&ndash; delete_db_on_start Rtabmap/DetectionRate 10&ndash;&gt;-->
<!--        <arg name="depth_topic"        value="/$(arg camera2)/aligned_depth_to_color/image_raw"/>-->
<!--            <arg name="frame_id"           value="base_link"/>-->
<!--            <arg name="visual_odometry"    value="$(arg visual_odometry)"/>-->
<!--&lt;!&ndash;            <arg name="odom_topic"         value="/$(arg camera1)/odom/sample"/>&ndash;&gt;-->
<!--            <param name="subscribe_depth" type="bool" value="false"/>-->
<!--            <param name="subscribe_rgbd" type="bool" value="true"/>-->
<!--            <param name="subscribe_scan" type="bool" value="true"/>-->
<!--            -->
<!--            <remap from="odom" to="/base_controller/odom"/>-->
<!--            <remap from="scan" to="/base_scan"/>-->
<!--            <remap from="rgbd_image" to="rgbd_image"/>-->
<!--            -->
<!--            <param name="queue_size" type="int" value="10"/>-->
<!--            <arg name="odom_topic"         value="/odom_grounded"/>-->
<!--            <arg name="rgb_topic"          value="/$(arg camera2)/color/image_raw"/>-->
<!--            <arg name="camera_info_topic"  value="/$(arg camera2)/color/camera_info"/>-->
<!--            <arg name="queue_size"         value="200"/>-->
<!--            <arg name="rviz"               value="false"/>-->
<!--            <arg name="rtabmapviz"         value="false"/>-->
<!--            <arg name="localization"       value="$(arg localization)"/>-->






<!--    </include>-->



</launch>