<launch>
    <arg name="map_topic" />

    <include file="$(find vitulus_navi)/launch/ekf_indoor.launch"/>

    <include file="$(find vitulus_navi)/launch/pointcloud_to_laserscan.launch"/>

    <!--    MOVE BASE FLEX -->
    <include file="$(find vitulus_navi)/launch/vitulus_navi_mbf.launch">
        <arg name="map_topic" value="$(arg map_topic)"/>
    </include>

    <!--    Proxy for interactive marker usage on web gui-->
    <node name="proxy" pkg="interactive_marker_proxy" type="proxy" args="topic_ns:=/interactive_marker target_frame:=/map"/>

</launch>