<launch>
  <arg name="map_topic" />

<!-- work around for footprint reload -->
  <rosparam command="delete" ns="move_base_flex" />

<!--  </node>-->

  <node name="move_base_flex" pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="false" output="screen">-->
      <rosparam file="$(find vitulus_navi)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find vitulus_navi)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find vitulus_navi)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find vitulus_navi)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find vitulus_navi)/config/planners.yaml" command="load"/>
      <rosparam file="$(find vitulus_navi)/config/controllers.yaml" command="load"/>
      <rosparam file="$(find vitulus_navi)/config/base_teb_local_planner_params.yaml" command="load" />
      <rosparam file="$(find vitulus_navi)/config/base_local_planner_params.yaml" command="load" />
      <rosparam file="$(find vitulus_navi)/config/dwa_local_planner_params.yaml" command="load" />
      <rosparam file="$(find vitulus_navi)/config/graceful_controller_params.yaml" command="load" />
      <rosparam file="$(find vitulus_navi)/config/neo_local_planner_params.yaml" command="load" />
      <rosparam file="$(find vitulus_navi)/config/global_planner_params.yaml" command="load" />
      <rosparam file="$(find vitulus_navi)/config/recovery_behavior.yaml" command="load" />

      <param name="base_global_planner" value="global_planner/GlobalPlanner" />
      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
      <param name="cmd_vel_ignored_tolerance" value="-1" />

      <remap from="cmd_vel" to="/cmd_vel"/>
      <remap from="odom" to="/odometry/odom"/>
      <remap from="map" to="$(arg map_topic)"/>

  </node>
</launch>